
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;

}
.app{
    position: relative;
    border: 1px solid #000;
    max-width: 414px;
    margin: 0px auto;

}
.container{
    padding: 0px 20px;
}

.wrap{
    min-height: 100vh;
}
.header{
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_drinks{
    justify-content: space-between;
}

.header__btn{
    background: transparent;
    border: none;
    cursor: pointer;
}

.filtres-block{
    overflow-x: hidden;
    position: absolute;
    left: 999px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .4s ease;
}

.drink-wrap{
    position: relative;
    overflow-x: hidden;
}
.filter-item{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-item label{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px
}

input[type="checkbox"]{
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
}
.header__title_filter{
    margin-left: 40px;
}

.header__title{
    font-size: 24px;
    color: #000000;

}
.submit-btn{

    margin-top: auto;
    padding: 17px;
    background-color: #000;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;;
}

.cocktail-item{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.cocktail-item__text{
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7E7E7E;
}


.header__drinks{
    display: flex;
    justify-content: space-between;
}

.filter-menu{
    position: absolute;
    left: -999px;
}

.filter-menu_active{
    position: absolute;
    left: 0px;
}

.drink-wrap{
    position: relative;
}

.filtres-block{
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 999px;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.filterChekedBlock{
   font-size: 20px;
    padding: 20px 0px;
}

.toUp-btn-wrap{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 414px;
}
.toUp-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0, .2);
    bottom: 30px;
    left: 75%;
}

@media screen and (min-width: 414px){
    .toUp-btn {
       left: 85%;
    }
}

.filter-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toUp-btn img{
    transform: rotate(90deg);
}

.nothing-err{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}


.popUp{
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    max-width: 414px;
    transform: translate(-50%, -50%);
    background-color: chartreuse;

}

.close{
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #000;
}
