
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.app{
    position: relative;
    border: 1px solid #000;
    max-width: 414px;
    margin: 0px auto;
    /*padding: 0px 35px;*/
}
.header{
    width: 100%;
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_drinks{
    justify-content: space-between;
}

.header__btn{
    background: transparent;
    border: none;
    cursor: pointer;
}

.back-btn{
    margin-right: 20px;
}

.filtres-block{
    overflow-x: hidden;
    position: absolute;
    left: 999px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .4s ease;
}

.drink-wrap{
    position: relative;
    overflow-x: hidden;
}
.filter-item{
    /*min-width: 414px;*/
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-item label{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px
}

input[type="checkbox"]{
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
}
.header__title_filter{
    margin-left: 40px;
}

.header__title{
    font-size: 24px;
    color: #000000;

}
.submit-btn{
    margin: 0px 20px;
    padding: 17px;
    background-color: #000;
    color: #fff;
    width: calc(100% - 40px);
    text-transform: uppercase;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;;
}

.cocktail-item{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.cocktail-item__text{
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7E7E7E;
}


.header__drinks{
    display: flex;
    justify-content: space-between;
}

.filter-menu{
    position: absolute;
    left: -999px;
}

.filter-menu_active{
    position: absolute;
    left: 0px;
}

.wrap{
    padding: 20px;
}
.drink-wrap{
    position: relative;
}

.filtres-block{
    position: absolute;
    top: 0;
    left: 999px;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

/*.filterChekedBlock{*/
/*    display: flex;*/
/*    overflow-x: scroll;*/
/*    height: 30px;*/
/*}*/
